<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		id = "com.web12.keno2"
		version = "0.0.1">
	<name>Keno</name>
	<description>
		Keno
	</description>
	<author href="https://build.phonegap.com" email="info@web12.ru">
		Harutyun Harutyunyan
	</author>
	<preference name="phonegap-version" value="3.0.0" />
	<preference name="orientation" value="landscape" />
	<gap:plugin name="org.apache.cordova.device" />
	<gap:plugin name="org.apache.cordova.dialogs" />
</widget>